# Models
# OLLAMA_MODEL=ollama/mistral
# OLLAMA_MODEL=ollama/llama3.1
OLLAMA_MODEL=ollama/mistral-nemo
OLLAMA_BASE_URL=http://localhost:11434

# Redis
REDIS_URL=redis://localhost:6379

# API Keys
SERPER_API_KEY=your_api_key_here
